html {
    margin: 0;
    padding: 0; 
    background-color: #e6e9e9;
}
body {
    margin: 0;
    padding: 0; 
}
.page {
    /*margin: 4px, 464px, 52px, 464px - замеры на макете, разрешение 1440x806*/
    margin-top: 0.5%; /*4px*/
    margin-bottom: 6.45%; /*52px*/
    margin-left: 32%; /*464px*/
    padding-right: 3.47%; 
    padding-left: 3.47%; 
    width: 35%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}
#fio{
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}
#img1 {
    text-align: center;
}
.iam{
    padding-top: 6%;
    border-bottom: 1px solid black;
    align-content: center;
    padding-left: 2%;
}

.want{
    border-bottom: 1px solid black;
    padding-left: 2%;
}
.contacts{
    border-bottom: 1px solid black;
    padding-left: 2%;
}
.feedback{
    padding-left: 2%;
    padding-bottom: 6%;
}

a {
    color: #0083e8;
}